<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrzon.churchhub"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mrzon.churchhub.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mrzon.churchhub.ChurchActivity"
            android:label="@string/title_activity_church" >
        </activity>
        <activity
            android:name="com.mrzon.churchhub.BrowseDenominationActivity"
            android:label="@string/title_activity_browse_denomination" >
        </activity>
        <activity
            android:name="com.mrzon.churchhub.BrowseChurchActivity"
            android:label="@string/title_activity_browse_church" >
        </activity>
        <activity
            android:name="com.mrzon.churchhub.BrowseCountryActivity"
            android:label="@string/title_activity_browse_country" >
        </activity>
        <activity
            android:name="com.mrzon.churchhub.NearestChurchActivity"
            android:label="@string/title_activity_nearest_church"
            android:parentActivityName="com.mrzon.churchhub.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrzon.churchhub.MainActivity" />
        </activity>
        <activity
            android:name="com.mrzon.churchhub.AddNewChurch"
            android:label="@string/title_activity_add_new_church" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mrzon.churchhub.BrowseWorshipActivity"
            android:label="@string/title_activity_browse_worship" >
        </activity>
    </application>

</manifest>